Sobey.TimeLine/Service References/DataService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sobey.TimeLine.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sobey.TimeLine.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNewsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsModel" nillable="true" type="tns:NewsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsModel" nillable="true" type="tns:ArrayOfNewsModel" />
  <xs:complexType name="NewsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsModel" nillable="true" type="tns:NewsModel" />
</xs:schema>